header {
    background-color: #A1CCA5;
    padding: 5px 0 5px 0;
}
h1 {
    text-align: center;
    font-size: 50px;
    font-family: "Georgia", serif;
    color: #111D13;
}
h2 {
    font-size: 15px;
    font-family: Verdana, sans-serif;
    color: #111D13;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font: 15px Verdana, sans-serif;
    background-color: #8FB996;
    font-weight: bold;
}
li {
    float: left;
    display: inline;
    background-color: #8FB996;
}
li a {
    display: block;
    color: #111D13;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #415D43;
    color: #ffffff;
}

.active {
    background-color: #415D43;
    color: #ffffff;
}

.responsive {
    width: 100%;
    max-width: 500px;
    height: auto;
    align-self: center;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
p {
    font: 12px Verdana, sans-serif;
}
.body-div {
    margin-left: 5%;
    margin-right: 5%;
    width: 50%;
    padding: 10px;
}
footer {
    display: block;
    background-color: #8FB996;
    color: #111D13;
    text-align: center;
}